#projectus-reports-generate .container-inline-date,
#projectus-reports-generate .form-item-user,
#projectus-reports-generate .form-item-id-client,
#projectus-reports-generate .form-item-id-project,
#projectus-reports-generate .form-item-id-task {
  float: left;
  margin-right: 15px;
}

#projectus-reports-generate #generate_report,
#projectus-reports-generate .form-item-user {
  clear: both;
}

.report-th {
  width: 100px;
}

.report-table {
  text-align: center;
}
