.projectus-view #edit-select legend {
  display: none;
}

.projectus-view input.form-submit {
  margin: 0px;
  text-align: right;
}

.projectus-view .view-content {
  margin: 0px;
  padding: 0px;
}

.container-inline-date .date-padding {
  padding: 0px;
}

.form-item-start-date-date label,
.form-item-end-date-date label,
.form-item-date-timetracking-date label {
  display: none;
}

.projectus_main_link {
  float: left;
  margin-top: 15px;
  margin-right: 50px;
  text-align: center;
}

.view-projectus-content-deactivated .vbo-views-form fieldset,
.view-projectus-content-deactivated .vbo-views-form .fieldset-wrapper {
  border: 0px;
  margin: 0px;
  padding: 0px;
  top: 0px;
  text-align: right;
}

.view-projectus-content-deactivated .vbo-views-form .fieldset-wrapper {
  float: right;
}

#edit-actionprojectus-activate-action {
  list-style-type: none;
  line-height: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}
