.projectus-tasks-view .view-content {
  margin: 0px;
  padding: 0px;
}

.projectus-tasks-view #edit-select legend {
  display: none;
}

.projectus-tasks-view .vbo-views-form fieldset,
.projectus-tasks-view .vbo-views-form .fieldset-wrapper {
  border: 0px;
  margin: 0px;
  padding: 0px;
  top: 0px;
  text-align: right;
}

.projectus-tasks-view .vbo-views-form .fieldset-wrapper {
  float: right;
}

.projectus-tasks-view input#edit-actionprojectus-tasks-deactivate-action {
  margin: 0px;
  margin-right: 4px;
}

.projectus-tasks-view-add {
  list-style-type: none;
  line-height: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

.projectus-tasks-view-add li a {
  display: block;
  width: 100px;
  -moz-padding-start: 8px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("../styles/icons/buttons.png") repeat-x scroll 0 0 #ffff !important;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  border-image: none;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  margin-right: 0.6em;
  padding: 12px 17px;
  text-align: center;
  float: right;
}

.projectus-tasks-view-add li a:hover,
.projectus-tasks-view-add li a:focus {
  background: none repeat scroll 0 0 #dedede !important;
  text-decoration: none;
}

@-moz-document url-prefix() {
  .projectus-tasks-view-add li a {
    padding: 15px 17px;
  }
}

ul.action-links {
  padding: 0px !important;
}

.projectus-tasks-no-results {
  display: none;
}


.node-projectus_tasks-form .form-item-select-users,
.node-projectus_tasks-form .container-inline-date .form-item-start-date,
.node-projectus_tasks-form .container-inline-date .form-item-end-date,
.node-projectus_tasks-form .form-item-category,
.node-projectus_tasks-form .form-item-priority,
.node-projectus_tasks-form .form-item-incurred-hours,
.node-projectus_tasks-form .form-item-estimated-hours {
  float: left;
  margin-right: 30px;
}

.node-projectus_tasks-form .form-item-priority {
  clear: both;
}

.container-inline-date {
  clear: none;
}
