.projectus-timetrackings-show,
.projectus-timetrackings-reports {
  list-style-type: none;
  line-height: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  padding-top: 23px;
}

.projectus-timetrackings-show li a,
.projectus-timetrackings-reports li a {
  display: block;
  width: 130px;
  -moz-padding-start: 8px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("../styles/icons/buttons.png") repeat-x scroll 0 0 #ffffff !important;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  border-image: none;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  margin-right: 0.6em;
  padding: 12px 17px;
  text-align: center;
  float: right;
}

.projectus-timetrackings-show li a:hover,
.projectus-timetrackings-show li a:focus,
.projectus-timetrackings-reports li a:hover,
.projectus-timetrackings-reports li a:focus {
  background: none repeat scroll 0 0 #dedede !important;
  text-decoration: none;
}

@-moz-document url-prefix() {
  .projectus-timetrackings-show li a,
  .projectus-timetrackings-reports li a {
    padding: 15px 17px;
  }
}

.projectus-timetrackings-reports {
  padding-top: 0px;
  float: left;
}

#projectus-timetrackings-main-form input.form-submit {
  float: right;
}

#projectus-timetrackings-main-form .form-item-user {
  float: left;
  margin-right: 20px;
}

#projectus-timetrackings-main-form .container-inline-date {
  float: left;
}

ul.action-links {
  padding: 0px !important;
}

.projectus-timetrackings-no-results {
  display: none;
}

#timetrackings-hour {
  float: left;
  margin-right: 7px;
}

#id-timetrackings {
  clear: both;
}

.view-projectus-manage-timetrackings .view-content {
  margin: 0px;
  padding: 0px;
}

.view-projectus-manage-timetrackings #edit-select legend {
  display: none;
}

.view-projectus-manage-timetrackings .vbo-views-form fieldset,
.view-projectus-manage-timetrackings .vbo-views-form .fieldset-wrapper {
  border: 0px;
  margin: 0px;
  padding: 0px;
  top: 0px;
  text-align: right;
}

#views-exposed-form-projectus-manage-timetrackings-page input,
#views-exposed-form-projectus-manage-timetrackings-page select {
  padding: 0px;
}

#views-exposed-form-projectus-manage-timetrackings-page .views-exposed-widget {
  clear: both;
}
